@tailwind base;
@tailwind components;
@tailwind utilities;

#simulation-frame {
  position: absolute;
  width: 70%;
  height: 80vh;
  border: 2px solid black;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  background-size: cover;
  background-position: center;


}

h1{
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 20px;
  line-height: 1.3rem;
}

#container3D {
  position: absolute;
  top: -100px;
  left: -200px;
  width: calc(100% - 10px);
  height: calc(100% - 20px);
  margin: 10px;
}

.frame {
  position: absolute;
  right: 0%; /* Adjust top position as needed */
  top: 28%; /* Adjust left position as needed */
  background: #263238;
  padding: 20px;
  border-radius: 8px;
  width: 24%;
  color: white;
  border: 2px solid #fff;
  height: fit-content;
}

.slidecontainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px; /* Add margin to separate from top */
}

.slider-label {
  text-align: center;
  margin-bottom: 5px; /* Adjust spacing between labels */
}

.slider {
  width: calc(100% - 20px); /* Adjust width to accommodate padding */
  margin-bottom: 10px; /* Adjust spacing between sliders */
}

.button{
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1.125rem;/* 18px */;
  line-height: 1.75rem;
  background-color: #263238;
  transition: all 0.25s ease-in-out 0.15s;
}

.button:hover {
  transform: translateY(-0.25rem) scale(1.1); /* hover:-translate-y-1 hover:scale-110 */
  background-color: #48C063; /* hover:bg-[#48C063] */
}

main{
  margin: 0% 5%;
}

footer{
    background-color: #191d1e; /* bg-[#191d1e] */
    color: white; /* text-white */
    text-align: center; /* text-center */
    padding: 1.25rem; /* p-5 */
    margin-top: 2.5rem; /* mt-10 */

  
}

table {
  border-collapse: collapse;
  width: 100%;
  }

 th, td {
border: 1px solid white;
text-align: center;
padding: 8px;
}

/* CSS for the lines */
td:not(:last-child) {
border-right: 1px solid white;
}

tr:not(:last-child) td {
border-bottom: 1px solid white;
}

